<div class="image-aboutus-banner" style="position: relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h1 class="lg-text">About Us</h1>


        </div>
      </div>
    </div>
  </div>

  <div id="description">
    <p id="descripton para">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error ab cupiditate laudantium mollitia sunt aliquid nemo rem adipisci veritatis. Libero dolores accusamus, odit dicta nesciunt dolorem placeat rerum doloribus facilis. <br /><br />
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias porro, repellat veniam dignissimos laborum minus animi quas saepe ea cum maxime adipisci magni nesciunt mollitia iusto laudantium repudiandae deserunt magnam.
    </p>
  </div>

  <div class="image-section" style="position: relative;">
    <img
      src="https://t3.ftcdn.net/jpg/05/02/57/66/240_F_502576681_yQE74gzNza1EoE2cTeHRXQ6fGioaWirN.jpg"
      alt=""
      width="100%"
    />
    <div id="our-team">
      <h5>Get to know</h5>
      <h1 style="color: #5e2ced;">Our Team</h1>
      <p>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum minima tempora, veniam hic quo eveniet, voluptatibus id asperiores eius est non ducimus quod nam doloremque iusto omnis sint totam quisquam?
      </p>
    </div>
  </div>
