.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('src/assets/login-security.png');
  background-size: cover;
  background-position: left;

}
.invalid-feedback
{
  margin-left: 25px;
}
.login{
    margin-top: -10%;
}
