<div class="container-fluid">
  <div class="row no-gutter">

      <div class="col-md-6 d-none d-md-flex bg-image"></div>

      <div class="col-md-6 bg-light">
          <div class="login d-flex align-items-center py-5">

              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">



                          <h3 class="display-4">Login  <span><a routerLink="" class="navba r-brand"><img class="logo" height="40" src="../assets/monday-ar21.svg"></a></span></h3>

                          <p class="text-muted mb-4">Login Our Site</p>
                          <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
                            <form>
                            <div class="form-group mb-3">
                                <input id="inputEmail" type="email" formControlName="email"   placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                <div class="invalid-feedback">
                                    <div >Email is required</div>
                                    <div >Email must be a valid email address</div>
                                 </div>
                            </div>
                            <div class="form-group mb-3">
                                <input id="inputPassword" type="password" formControlName="password"  placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                <div  class="invalid-feedback">
                                    <div >Password is required</div>
                                 </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="background-color: #6754e2;">Login</button>

                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
